{%- assign block_size = block.blocks.size -%}
<div class="flow-box-media__group flow-box-media__group--count-{{ block_size }}">
  {% for nested_block in block.blocks %}
    {% comment %} <div class="flow-box-media__group-item"> {% endcomment %}
    {% render nested_block %}
    {% comment %} </div> {% endcomment %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Media Flow Group",
  "tag": null,
  "blocks": [
    {
      "type": "_media-flow-item"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "Media Flow Group"
    }
  ]
}
{% endschema %}
